1. Write a program to reverse a string.

s='giriraj'

In [3]:
s[::-1]

'jaririg'

2. Check if a string is a palindrome.

In [4]:
s='malayalam'

In [5]:
s[::-1]

'malayalam'

3. Convert a string to uppercase.

In [6]:
s.upper()

'MALAYALAM'

4. Convert a string to lowercase.

In [7]:
s.lower()

'malayalam'

5. Count the number of vowels in a string.

In [39]:
s='umbrella'
s.lower()

'umbrella'

In [30]:
vowels=set('aeiou')

In [40]:
num_vowels = sum(1 for char in s if char in vowels)
print("Number of vowels:", num_vowels)

Number of vowels: 3

6. Count the number of consonants in a string.

In [41]:
s='immigration'

In [42]:
s.lower()

'immigration'

In [43]:
consonants=set('bcdfghjklmnpqrstvwxyz')
num_consonants=sum(1 for char in s if char in consonants)
print('Number of consonants:',num_consonants)

Number of consonants: 6

7. Remove all whitespaces from a string.

In [44]:
s1='this is my second assignment in pyhon basics'

In [54]:
s1.replace(' ','')

'thisismysecondassignmentinpyhonbasics'

8. Find the length of a string without using the `len()` function.

In [65]:
s1='this is my second assignment in pyhon basics'

In [76]:
import sys
sys.getsizeof(s1) #size in bytes

93

9. Check if a string contains a specific word.

In [77]:
s2='wish you a happy new year'

In [115]:
s2.find('you') #index is not -1 so the word was found

5

10. Replace a word in a string with another word.

In [116]:
s2.replace('new', 'old')

'wish you a happy old year'

11. Count the occurrences of a word in a string.

In [137]:
s3='i am happy and glad and that i can write codes now and it is great and happy'

In [138]:
s3.count('i')

5

12. Find the first occurrence of a word in a string.

In [141]:
s3.find('happy')

5

13. Find the last occurrence of a word in a string.

In [144]:
s3.rfind('happy')

71

14. Split a string into a list of words.

In [146]:
s3.split()

['i',
 'am',
 'happy',
 'and',
 'glad',
 'and',
 'that',
 'i',
 'can',
 'write',
 'codes',
 'now',
 'and',
 'it',
 'is',
 'great',
 'and',
 'happy']

15. Join a list of words into a string.

In [2]:
s5='sneha is a good girl'

In [3]:
s6=' but she is a bit naughty'
s7=s5+s6

In [4]:
s7

'sneha is a good girl but she is a bit naughty'

In [5]:
type (s7)

str

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [1]:
s6='this is my second assignment in python basics'

In [2]:
s6.replace(' ','_')

'this_is_my_second_assignment_in_python_basics'

17. Check if a string starts with a specific word or phrase.

In [1]:
s6='this is my second assignment in python basics'

In [145]:
s6.startswith('this')

True

18. Check if a string ends with a specific word or phrase.

In [12]:
s6.endswith('old') #since the word is not present so return value is -1

False

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [9]:
s7='i am happy to do coding in python'

In [10]:
s7.title()

'I Am Happy To Do Coding In Python'

20. Find the longest word in a string.

In [11]:
s8='pneumonoultramicroscopicsilicovolcanoconiosis is the longest word in english'

In [15]:
s8.split()

['pneumonoultramicroscopicsilicovolcanoconiosis',
 'is',
 'the',
 'longest',
 'word',
 'in',
 'english']

In [16]:
longest_word=max(['pneumonoultramicroscopicsilicovolcanoconiosis','is','the','longest','word','in','english'],key=len)

In [17]:
longest_word

'pneumonoultramicroscopicsilicovolcanoconiosis'

21. Find the shortest word in a string.

In [21]:
shortest_word=min(['pneumonoultramicroscopicsilicovolcanoconiosis','is','the','longest','word','in','english'],key=len)

In [22]:
shortest_word

'is'

22. Reverse the order of words in a string.

In [29]:
s9='silicosis is a disease'

In [30]:
s9[::-1]

'esaesid a si sisocilis'

23. Check if a string is alphanumeric.

In [53]:
s11='Orange321a'

In [54]:
s11.isalnum()

True

24. Extract all digits from a string.

In [97]:
s5='Orange321a'

In [99]:
s5.strip('Orangea')

'321'

25. Extract all alphabets from a string.

In [100]:
s5.strip('321')

'Orange321a'

26. Count the number of uppercase letters in a string.

In [165]:
s1='ThisIsASimplePythonProgram'
import re
len(re.findall('[A-Z]',s1))

6

27. Count the number of lowercase letters in a string.

In [166]:
s1='ThisIsASimplePythonProgram'
import re
len(re.findall('[a-z]',s1))

20

28. Swap the case of each character in a string.

In [167]:
s1

'ThisIsASimplePythonProgram'

In [168]:
s1.swapcase()

'tHISiSasIMPLEpYTHONpROGRAM'

29. Remove a specific word from a string.

In [169]:
s2='this is a test programme'

In [172]:
s2.strip('this')

' is a test programme'

30. Check if a string is a valid email address.

In [1]:
import re

def is_valid_email(email):
    pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    return bool(re.match(pattern, email))

s16 = 'graj00863@email.com'

if is_valid_email(s16):
    print(f'The email address "{s16}" is valid.')
else:
    print(f'The email address "{s16}" is not valid.')

The email address "graj00863@email.com" is valid.

31. Extract the username from an email address string.

In [5]:
s1='xyz@email.com'

In [6]:
s1.strip('@email.com')

'xyz'

32.Extract the domain name from an email address string.

In [7]:
s1

'xyz@email.com'

In [8]:
s1.lstrip('xyz')

'@email.com'

33. Replace multiple spaces in a string with a single space.

In [9]:
s2='there   are multiple space in     this string'

In [20]:
s2.replace('  ',' ')

'there are multiple spaces in this string'

34. Check if a string is a valid URL. #pending

In [4]:
string = 'https://www.example.com'
example_url='https://pwskills.com' 
if string in example_url:
    print ("url is valid")
else:
    print ('invalid url')

invalid url

36. Find the frequency of each character in a string.

In [11]:
string = 'this one felt bit tricky without for loop'
char_count = {}

for char in string:
    if 'a' <= char <= 'z':
        if char in char_count:
            char_count[char] += 1
        else:
            char_count[char] = 1

for char, count in char_count.items():
    if count == 1:
        print(f"The character '{char}' occurs once.")
    else:
        print(f"The character '{char}' occurs {count} times.")

The character 't' occurs 6 times.
The character 'h' occurs 2 times.
The character 'i' occurs 4 times.
The character 's' occurs once.
The character 'o' occurs 5 times.
The character 'n' occurs once.
The character 'e' occurs 2 times.
The character 'f' occurs 2 times.
The character 'l' occurs 2 times.
The character 'b' occurs once.
The character 'r' occurs 2 times.
The character 'c' occurs once.
The character 'k' occurs once.
The character 'y' occurs once.
The character 'w' occurs once.
The character 'u' occurs once.
The character 'p' occurs once.

38.Check if a string contains only digits.

In [38]:
s0='Orange@321a'

In [39]:
s0.isdigit()

False

39. Check if a string contains only alphabets.

In [36]:
s12='girirajgupta'

In [37]:
s12.isalpha()

True

40.Convert a string to a list of characters.

In [31]:
s8='python programmig is so much fun'

In [32]:
s8.split()

['python', 'programmig', 'is', 'so', 'much', 'fun']

37. Remove all punctuation from a string.

In [56]:
a1= "tricky codes are the, first , which ! we need to understand first"

In [69]:
a1.replace('!','')

'tricky codes are the, first , which  we need to understand first'

In [70]:
a2=a1.replace('!','')

In [71]:
a2.replace(',','')

'tricky codes are the first  which  we need to understand first'

In [72]:
a3=a2.replace(',','')

In [73]:
a3.replace('.','')

'tricky codes are the first  which  we need to understand first'

41. Check if two strings are anagrams.

In [43]:
s2='cat'

s1='act'

if len(s1) != len (s2):
    letters1 = s1.strip().split()
    print ('they are not anagrams')
else:
    letters2 = s2.strip().split()
    print ("they are anagrams")

they are anagrams

42. Encode a string using a Caesar cipher.

43. Decode a Caesar cipher encoded string.

44. Find the most frequent word in a string.

45. Find all unique words in a string.

46. Count the number of syllables in a string.

In [8]:
pip install syllables

Collecting syllables
  Downloading syllables-1.0.9-py3-none-any.whl (15 kB)
Requirement already satisfied: importlib-metadata<7.0,>=5.1 in /opt/conda/lib/python3.10/site-packages (from syllables) (5.1.0)
Collecting cmudict<2.0.0,>=1.0.11
  Downloading cmudict-1.0.16-py3-none-any.whl (939 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 939.4/939.4 kB 51.3 MB/s eta 0:00:00
Requirement already satisfied: importlib-resources>=5 in /opt/conda/lib/python3.10/site-packages (from cmudict<2.0.0,>=1.0.11->syllables) (5.10.1)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.10/site-packages (from importlib-metadata<7.0,>=5.1->syllables) (3.11.0)
Installing collected packages: cmudict, syllables
Successfully installed cmudict-1.0.16 syllables-1.0.9
Note: you may need to restart the kernel to use updated packages.

In [9]:
import syllables

In [10]:
number_of_syllables = syllables.estimate("cholecystectomy")

In [11]:
print(number_of_syllables)

6

47. Check if a string contains any special characters.

In [12]:
import re
string_with_char = 'this is @ string that contains special! character'
char=str(('@','!'))
if re.search('[@!]', string_with_char):
    print ('the string contains special character')
else:
    print ('no special character in string')

the string contains special character

48. Remove the nth word from a string.

In [41]:
string = " this is a simple string"
string.split()
l1 = ['this', 'is', 'a', 'simple', 'string']
l1.pop(2)
string = ' '.join(l1)
print(string)

this is simple string

49. Insert a word at the nth position in a string.

In [51]:
string = "this is a simple string"
string.split()
l1 = ['this', 'is', 'a', 'simple', 'string']
l1.insert(2,'not so difficult')
string = ' '.join(l1)
print(string)

this is not so difficult a simple string

In [54]:
csv_string = '''vivid,imagination is,1,2,3,4 5,6,6,6,7'''
csv_string.split()
l1= ['vivid,imagination', 'is,1,2,3,4', '5,6,6,6,7']
l1 = [x.split(',') for x in l1]
print(l1)

[['vivid', 'imagination'], ['is', '1', '2', '3', '4'], ['5', '6', '6', '6', '7']]

1. Create a list with integers from 1 to 10.

In [68]:
list1 = [1, 2, 3, 4, 5,6,7,8,9,10]
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [69]:
l1= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for n in l1:
    print (n)

1
2
3
4
5
6
7
8
9
10

In [71]:
range(n)

range(0, 10)

3. Append an element to the end of a list.

In [72]:
l1= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l1.append(11)

In [73]:
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

4. Insert an element at a specific index in a list.

In [74]:
l1= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l1.insert(2,[45,34,71])

In [75]:
print(l1)

[1, 2, [45, 34, 71], 3, 4, 5, 6, 7, 8, 9, 10]

5. Remove an element from a list by its value.

In [77]:
l1= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l1.remove(5)

In [78]:
print(l1)

[1, 2, 3, 4, 6, 7, 8, 9, 10]

6. Remove an element from a list by its index.

In [79]:
l1.pop(3)

4

In [80]:
l1

[1, 2, 3, 6, 7, 8, 9, 10]

7. Check if an element exists in a list.

In [82]:
l1

[1, 2, 3, 6, 7, 8, 9, 10]

In [85]:
num2 = 2
if num2 in l1:
    print ('yes the number exist')
else:
    print ('number is not present in the list')

yes the number exist

8. Find the index of the first occurrence of an element in a list.

In [90]:
l1 = ['giriraj', 1, 2, 3, 4, 5, 'giriraj', 'gupta']
element = 'gupta'
if element in l1[0]:
    print('element in first index')
    element = element + 1
else:
    print('the index of the element is', l1.index(element))

the index of the element is 7

9. Count the occurrences of an element in a list.

In [94]:
l1 = ['giriraj', 1, 2, 3, 4, 5, 'giriraj', 'gupta']
element = 'giriraj'
l1.count(element)

2

10. Reverse the order of elements in a list.

In [104]:
l1 = ['giriraj', 1, 2, 3, 4, 5, 'giriraj', 'gupta']
l1[: : -1]

['gupta', 'giriraj', 5, 4, 3, 2, 1, 'giriraj']

11. Sort a list in ascending order.

In [109]:
l1= [1, 2, 5, 6, 7, 3, 9, 78, 34, 8]
l1.sort()
print(l1)

[1, 2, 3, 5, 6, 7, 8, 9, 34, 78]

12. Sort a list in descending order.

In [110]:
l1= [1, 2, 5, 6, 7, 3, 9, 78, 34, 8]
l1.sort()
print(l1[: : -1])

[78, 34, 9, 8, 7, 6, 5, 3, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [136]:
even_numbers = [number for number in range(1, 21) 
                if number % 2 == 0]
print (even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [138]:
list(range(1,21,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [143]:
l1 = [1,2,3,4,5]
sum(l1)

15

16. Find the maximum value in a list.

In [145]:
max(l1)

5

17. Find the minimum value in a list.

In [146]:
min(l1)

1

18. Create a list of squares of numbers from 1 to 10.

In [156]:
list(range(1,11))
l1 = list(range(1,11))
l1= [i**2 for i in l1]
print (l1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [181]:
import random

random.shuffle(numbers)
print (numbers)

[7, 10, 4, 1, 12, 2, 11, 17, 19, 0]

20. Remove duplicates from a list.

In [206]:
l1 = [7, 3, 3, 4, 10, 4, 1, 12, 2, 11, 17, 19, 0]
l2 = set(l1)
l3 = list (l2)
print(l3)

[0, 1, 2, 3, 4, 7, 10, 11, 12, 17, 19]

21. Find the common elements between two lists.

In [214]:
import collections

In [215]:
l1 = [1, 2, 3, 4, 5]
l2 = [3, 4, 5, 6, 7]

common_elements = collections.Counter(l1) & collections.Counter(l2)

In [216]:
print (common_elements)

Counter({3: 1, 4: 1, 5: 1})

22. Find the difference between two lists.

In [3]:
list1 = ["apple", "banana", "cherry", "orange"]
list2 = ["banana", "orange", "kiwi"]
result = list(set(list1) - set(list2))
print(result)

['apple', 'cherry']

23. Merge two lists.

In [4]:
l1+l2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

24. Multiply all elements in a list by 2.

In [25]:
l1 = [1, 2, 3, 4, 5]
l1 = [i * 2 for i in l1]
print(l1)

[2, 4, 6, 8, 10]

25. Filter out all even numbers from a list.

In [27]:
l1= [2,3,4,5,6,7,8,9]
even_numbers_list = [number for number in l1 
                if number % 2 == 0]
print (even_numbers_list)

[2, 4, 6, 8]

26. Convert a list of strings to a list of integers.

In [35]:
l1 = ['1','2','3','4']
l1 = [int(i) for i in l1]
print (l1)

[1, 2, 3, 4]

27. Convert a list of integers to a list of strings.

In [36]:
l1 = [1, 2, 3, 4, 5]
l1 = [str(i) for i in l1]
print (l1)

['1', '2', '3', '4', '5']

28. Flatten a nested list.

In [60]:
my_list = [[1], [2, 3], [4, 5, 6, 7]]

flat_list = [num for sublist in my_list for num in sublist]
print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

30. Check if a list is sorted.

In [67]:
list = [45, 2, 1, 4, 3, 6]
list.sort()
if list == list.sort():
    print ('the list is sorted',list.sort())
else:
    print ('the list is not sorted')

the list is not sorted

31. Rotate a list to the left by `n` positions.

In [109]:
l1 = [1, 2, 4, 5, 6]
l1 = l1[3:] + l1[:3]
print (l1)

[5, 6, 1, 2, 4]

32. Rotate a list to the right by `n` positions.

In [111]:
l1 = l1[-3:] + l1[:-3]
print (l1)

[4, 5, 6, 1, 2]

33. Create a list of prime numbers up to 50.

In [1]:
prime_numbers = [2]
for i in range(3, 51, 2):
  is_prime = True
  for j in range(3, int(i ** 0.5) + 1, 2):
    if i % j == 0:
      is_prime = False
      break
  if is_prime:
    prime_numbers.append(i)
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [9]:
l1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9 , 10]
first_half = l1[:5]
second_half = l1[5:]
print("First half:", first_half)
print("Second half:", second_half)

First half: [0, 1, 2, 3, 4]
Second half: [5, 6, 7, 8, 9, 10]

35. Find the second largest number in a list.

In [26]:
l1 = [45, 56, 78, 3, 49, 0]

l1 = [i for i in l1
     if 49 < i < 78]

i = max(l1)

print('The second largest number is', i)

The second largest number is 56

36. Replace every element in a list with its square.

In [61]:
l1 = [3, 5, 6, 8, 9]
l1 = [i ** 2 for i in l1]
print(l1)

[9, 25, 36, 64, 81]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [65]:
d1={"name" : "giriraj", "subject" :["datascience" , "bigdata","data analytics"],"number" :334}
d1.keys()
d1.values()
list[d1.values()]

list[dict_values(['giriraj', ['datascience', 'bigdata', 'data analytics'], 334])]

38. Shuffle the elements of a list randomly.

In [75]:
import random
l1 = [1, 2, 3, 4, 5]
random.shuffle(l1)
print(l1)

[2, 4, 5, 3, 1]

39. Create a list of the first 10 factorial numbers.

In [93]:
import math
x = 10
factorial_list = [math.factorial(i) for i in range(10)]
print (factorial_list)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [109]:
l1 = [1, 2, 3, 4, 5]
l2 = [1, 6, 7, 8, 9]
for element in l1:
    if element in l2:
        print('this is the only common element found',True)
    else:
        print('nope this aint the common element',False)

this is the only common element found True
nope this aint the common element False
nope this aint the common element False
nope this aint the common element False
nope this aint the common element False

41. Remove all elements from a list.

In [9]:
l1= [1, 2, 3, 4, 5]
l1.clear()

In [10]:
l1

[]

42. Replace negative numbers in a list with 0.

In [31]:
def replace_negative_numbers(list1):
  new_list = []
  for value in list1:
    if value < 0:
      new_list.append(0)
    else:
      new_list.append(value)
  return new_list

list1 = [-1, 2, -4, 5, 6]
new_list = replace_negative_numbers(list1)
print(new_list)

[0, 2, 0, 5, 6]

43. Convert a string into a list of words.

In [30]:
string = 'this is an example string'
string.split()

['this', 'is', 'an', 'example', 'string']

In [31]:
l2 = string.split()

In [32]:
type (l2)

list

44. Convert a list of words into a string.

In [4]:
l2 = ['my','name','is','giriraj','gupta']
string = ' '.join(l2)
print(string)

my name is giriraj gupta

45. Create a list of the first `n` powers of 2.

In [7]:
[2 ** i for i in range(10)]

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

46. Find the longest string in a list of strings.

In [18]:
l2 = ['my','name','is','giriraj','gupta']
max(l2, key=len)

'giriraj'

47. Find the shortest string in a list of strings.

In [19]:
l2 = ['my','name','is','giriraj','gupta']
min(l2, key=len)

'my'

48. Create a list of the first `n` triangular numbers.

In [28]:
def triangular_series(n):
  
     for i in range(1, n + 1):
         print( i*(i+1)//2,end=' ')
n = 20
triangular_series(n)

1 3 6 10 15 21 28 36 45 55 66 78 91 105 120 136 153 171 190 210

49. Check if a list contains another list as a subsequence.

In [29]:
test_list = [9, 4, 5, 8, 10]
sub_list = [10, 5, 4]
 
print("Original list : " + str(test_list))
print("Original sub list : " + str(sub_list))
flag = 0
if(all(x in test_list for x in sub_list)):
    flag = 1
if (flag):
    print("Yes, list is subset of other.")
else:
    print("No, list is not subset of other.")

Original list : [9, 4, 5, 8, 10]
Original sub list : [10, 5, 4]
Yes, list is subset of other.

50. Swap two elements in a list by their indices.

In [30]:
def swapPositions(lis, pos1, pos2):
    temp=lis[pos1]
    lis[pos1]=lis[pos2]
    lis[pos2]=temp
    return lis
List = [23, 65, 19, 90]
pos1, pos2 = 1, 3
 
print(swapPositions(List, pos1-1, pos2-1))

[19, 65, 23, 90]

# Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [32]:
tuple (range(1,6))

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [34]:
t = (1, 2, 3, 4, 5)
t1 = list (t)
t1[3]

4

3. Find the length of a tuple without using the `len()` function.

In [11]:
t = (1, 2, 3, 4, 5)
l1 = list (t)
max (l1)

5

4. Count the occurrences of an element in a tuple.

In [12]:
t = ('giriraj', 1, 2, 3, 4, 5, 'giriraj', 'gupta')
l1 = list (t)
element = 'giriraj'
l1.count(element)

2

5. Find the index of the first occurrence of an element in a tuple.

In [14]:
t = ('giriraj', 1, 2, 3, 4, 5, 'giriraj', 'gupta')
l1 = list (t)
element = 'gupta'
if element in l1[0]:
    print('element in first index')
    element = element + 1
else:
    print('the index of the element is', l1.index(element))

the index of the element is 7

6. Check if an element exists in a tuple.

In [15]:
t = (1, 2, 3, 4)
l1 = list (t)
num2 = 2
if num2 in l1:
    print ('yes the number exist')
else:
    print ('number is not present in the list')

yes the number exist

Convert a tuple to a list.

In [18]:
t = (1, 2, 3, 4)
t = list (t)
type (t)

list

8. Convert a list to a tuple.

In [20]:
l1 = [1, 2, 3, 4, 'giriraj']
l1 = tuple (l1)
type (l1)

tuple

9. Unpack the elements of a tuple into variables.

In [22]:
t = (1, 2, 3, 'giriraj')
l1 = list (t)
i = l1[0]
j = l1[1]
k = l1[2]
l = l1[3]
print ('the unpacked variables are', i, j, k, l)

the unpacked variables are 1 2 3 giriraj

10. Create a tuple of even numbers from 1 to 10.

In [26]:
l1 = [i for i in range(2,11) if i % 2 == 0 ]
l1 = tuple (l1)
print ('the created tuple is',l1)

the created tuple is (2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [29]:
l1 = tuple (range(1 , 11 , 2))
print (l1)

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [34]:
t1 = ('python', 'is' ,'super' ,'fun')
t2 = ('but' ,'only', 'when', 'you' ,'learn', 'to', 'think', 'out', 'of', 'the', 'box')
t3 = ' '.join(t1+t2)
print (t3)

python is super fun but only when you learn to think out of the box

13. Repeat a tuple three times.

In [39]:
t1 = ('python', 'is' ,'super' ,'fun')
t1*3
t2 = ' '.join(t1*3)
print (t2)

python is super fun python is super fun python is super fun

14. Check if a tuple is empty.

In [51]:
t1 = ('python', 'is' ,'super' ,'fun')
t1 = (i for i in t1 if i == 0)
print ('emptiness of the tuple is:',t1 == ())

emptiness of the tuple is: False

15. Create a nested tuple.

In [63]:
t = ('python', 'is' , ' ','super' ,'fun')
t = list (t)
t1 = ('but' ,'only', 'when', 'you' ,'learn', 'to', 'think', 'out', 'of', 'the', 'box')
t[2] = t1
t1 = tuple (t1)
t = tuple (t)
print (t)

('python', 'is', ('but', 'only', 'when', 'you', 'learn', 'to', 'think', 'out', 'of', 'the', 'box'), 'super', 'fun')

16. Access the first element of a nested tuple.

In [66]:
t = ('python', 'is', ('but', 'only', 'when', 'you', 'learn', 'to', 'think', 'out', 'of', 'the', 'box'), 'super', 'fun')
t = list (t)
t[0]

'python'

17. Create a tuple with a single element.

In [69]:
t = ('element')
t = tuple (t)

22. Find the minimum value in a tuple.

In [71]:
t = (1, 2, 3, 4, 5, 6)
min (t)

1

18. Compare two tuples.

In [80]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

if tuple1 < tuple2:
    print("Tuple1 is less than Tuple2")
elif tuple1 > tuple2:
    print("Tuple1 is greater than Tuple2")
elif tuple1 == tuple2:
    print("Tuple1 is equal to Tuple2")

Tuple1 is less than Tuple2

19. Delete a tuple.

In [88]:
t1 
t1 = list (t1)
del(t1)

NameError: name 't1' is not defined

20. Slice a tuple.

In [111]:
t = ('python','basics','is', 'fun')
t = list(t)
t = tuple (t[:2])
print (t)

('python', 'basics')

21. Find the maximum value in a tuple.

In [ ]:
t= (1, 2, 3, 4, 5, 6)

In [ ]:
max(t)

In [113]:
print (max(t))

python

23. Convert a string to a tuple of characters.

In [152]:
s1 = 'python'
s1 = list (s1)
s1.extend ('python')
tuple (s1)

('p', 'y', 't', 'h', 'o', 'n', 'p', 'y', 't', 'h', 'o', 'n')

24. Convert a tuple of characters to a string.

In [160]:
t = ('p', 'y', 't', 'h', 'o', 'n')
t = ''.join(t)
type (t)

str

25. Create a tuple from multiple data types.

In [163]:
l1 = [1, "hello", 3.14, True]
t1 = tuple(l1)
print (t1)

(1, 'hello', 3.14, True)

26. Check if two tuples are identical.

In [179]:
t1 = (1, 2, 3, 4, 5)
t2 = (1, 2, 3, 4, 5)

t3 = (i in t1 for i in t2)
print ('both the tuples are identical')

both the tuples are identical

27. Sort the elements of a tuple.

In [8]:
t1 = (2, 3, 45, 67, 8, 6)
t1 = list (t1)
t1.sort()
print (tuple(t1))

(2, 3, 6, 8, 45, 67)

28. Convert a tuple of integers to a tuple of strings.

In [15]:
t = (1, 2, 3, 4, 5, 6)
t = str (t)
print (t)
type (t)

(1, 2, 3, 4, 5, 6)

str

29. Convert a tuple of strings to a tuple of integers.

In [22]:
t1 = (2, 3, 45, 67, 8, 6)
t1 = tuple(map(int, t1))
print(t1)

(2, 3, 45, 67, 8, 6)

30. Merge two tuples.

In [23]:
t1 = (1, 2, 3, 6, 7)
t2 = (8, 9, 10, 11)
t1+t2

(1, 2, 3, 6, 7, 8, 9, 10, 11)

31. Flatten a nested tuple.

In [45]:
t1 = ((1,), (2, 3), (4, 5, 6, 7))

simple_tuple = (i for sub_tuple in t1 for i in sub_tuple)
simple_tuple = tuple(simple_tuple)

print(simple_tuple)

(1, 2, 3, 4, 5, 6, 7)

32. Create a tuple of the first 5 prime numbers.

In [57]:
t = (i for i in range(2, 6) if i % 1 == 0 and i % i == 0)
print(tuple(t))

(2, 3, 4, 5)

33. Check if a tuple is a palindrome.

In [75]:
t = tuple('radar')
t2 = reversed (t)
t2 = ''.join(t2)
print (t2)

radar

34. Create a tuple of squares of numbers from 1 to 5.

In [76]:
t = (i**2 for i in range(1, 6))
print(tuple(t))

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [77]:
t = (i for i in range(1, 11) if i % 2 == 0)
print(tuple(t))

(2, 4, 6, 8, 10)

36. Multiply all elements in a tuple by 2.

In [78]:
t = (9, 8, 7, 6, 5, 4)
t1 = (i*2 for i in t)
print(tuple(t1))

(18, 16, 14, 12, 10, 8)

37. Create a tuple of random numbers.

In [96]:
import random
random_numbers = tuple(random.randint(1, 100) for j in range(5))
print(random_numbers)

(25, 92, 28, 56, 27)

38. Check if a tuple is sorted.

In [9]:
t = (18, 16, 14, 12, 10, 8)
t1 = list (t)
if t1 is sorted:
    print (True)
else:
    print (False)

False

39. Rotate a tuple to the left by `n` positions.

In [15]:
t = (1, 2, 3, 4, 5)
l1 = list (t)
l1 = l1[3:] + l1[:3]
l2 = tuple (l1)
print ('the left rotated tuple is',l2)

the left rotated tuple is (4, 5, 1, 2, 3)

40. Rotate a tuple to the right by `n` positions.

In [16]:
t = (1, 2, 3, 4, 5)
l1 = list (t)
l1 = l1[-3:] + l1[:-3]
l2 = tuple (l1)
print ('the right rotated tuple is',l2)

the right rotated tuple is (3, 4, 5, 1, 2)

41. Create a tuple of the first 5 Fibonacci numbers.

In [6]:
def generate_fibonacci(n):
    fibonacci_numbers = [0, 1]
    while len(fibonacci_numbers) < n:
        next_number = fibonacci_numbers[-1] + fibonacci_numbers[-2]
        fibonacci_numbers.append(next_number)
    return fibonacci_numbers
t = generate_fibonacci(5)

for value in t:
    print(tuple (t))

(0, 1, 1, 2, 3)
(0, 1, 1, 2, 3)
(0, 1, 1, 2, 3)
(0, 1, 1, 2, 3)
(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [9]:
t = input("Enter elements separated by spaces: ")
elements = t.split()
user_tuple = tuple(elements)
print("User input as tuple:", user_tuple)

Enter elements separated by spaces:  1 2 3 4

User input as tuple: ('1', '2', '3', '4')

43. Swap two elements in a tuple.

In [10]:
t=(1,2,3,4,5,"giriraj", 3+4j, True)
l1 = list (t)
temp = l1[2] 
l1[2] = l1[5]
l1[5] = temp
t = tuple (l1)
print (t)

(1, 2, 'giriraj', 4, 5, 3, (3+4j), True)

44. Reverse the elements of a tuple.

In [15]:
t=(1,2,3,4,5,"giriraj", 3+4j, True)
t = list(t)
t1 = t[::-1]
t1 = tuple (t1)
print (t1)

(True, (3+4j), 'giriraj', 5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [13]:
t1 = tuple (range(0,11))
t1 = tuple (i*i for i in t1)
print (t1)

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

46. Find the longest string in a tuple of strings.

In [25]:
t1 = ('my','name','is','giriraj','gupta')
for i in t1:
    if len(i) == max(len(i) for i in t1):
        print('the longest string is',i)
    else:
        print('this is not the longest string')

this is not the longest string
this is not the longest string
this is not the longest string
the longest string is giriraj
this is not the longest string

47. Find the shortest string in a tuple of strings.

In [27]:
t1 = ('my','name','isnt','giriraj','gupta')
for i in t1:
    if len(i) == min(len(i) for i in t1):
        print('the shortest string is',i)
    else:
        print('this is not the shortest string')

the shortest string is my
this is not the shortest string
this is not the shortest string
this is not the shortest string
this is not the shortest string

48. Create a tuple of the first `n` triangular numbers.

In [28]:
def triangular_series( n ):
    j = 1
    k = 1
     
    for i in range(1, n + 1):
        print(k, end = ' ')
        j = j + 1 
        k = k + j 
         

n = 5
triangular_series(n)

1 3 6 10 15

49. Check if a tuple contains another tuple as a subsequence.

In [33]:
test_tup1 = (10, 4, 5, 6)
test_tup2 = (5, 10)
 
result = set(test_tup2) <= set(test_tup1)
 
print(str(result))

True

50. Create a tuple of alternating 1s and 0s of length `n`.

In [45]:
t = tuple([1, 0] * 5)
print (t)

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

Set Based Practice Problem :

Create a set with integers from 1 to 5.

In [47]:
set (range (1,6))

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [50]:
s = {1, 2, 3, 4, 5, 6}
s.add(7)

In [51]:
s

{1, 2, 3, 4, 5, 6, 7}

3. Remove an element from a set.

In [54]:
s.remove(3)

In [55]:
s

{1, 2, 4, 5, 6, 7}

4. Check if an element exists in a set.

In [73]:
s = {1, 2, 3, 4, 5, 6}
if 4 in s:
    print ('yes the elemnt exist')
else :
    print (False)

yes the elemnt exist

5. Find the length of a set without using the `len()` function.

In [75]:
max (s)

6

6. Clear all elements from a set.

In [77]:
s1 = {7, 8, 9, 10, 11, 12}
s1.clear()

In [78]:
s1

set()

7. Create a set of even numbers from 1 to 10.

In [86]:
set (i for i in range (10) if i % 2 == 0)

{0, 2, 4, 6, 8}

8. Create a set of odd numbers from 1 to 10.

In [87]:
set (range (1,11,2))

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [88]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6, 7}

10. Find the intersection of two sets.

In [91]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
set3 = set1.intersection(set2)
print(set3)

{3, 4, 5}

11. Find the difference between two sets.

In [92]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
set3 = set2-set1
print(set3)

{6, 7}

12. Check if a set is a subset of another set.

In [93]:
et1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
print(set1.issubset(set2))

False

13. Check if a set is a superset of another set.

In [96]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
print(set1.issuperset(set2))

False

14. Create a set from a list.

In [97]:
l1 = [1, 2, 3, 4, 5]
s1 = set (l1)

In [98]:
s1

{1, 2, 3, 4, 5}

15. Convert a set to a list.

In [99]:
list (s1)

[1, 2, 3, 4, 5]

16. Remove a random element from a set.

In [102]:
import random
set1 = {1, 2, 3, 4, 5}
set1.remove(random.choice(list(set1)))
print(set1)

{2, 3, 4, 5}

17. Pop an element from a set.

In [105]:
set1

{2, 3, 4, 5}

In [107]:
set1.pop()

2

18. Check if two sets have no elements in common.

In [109]:
set1 = {1, 2, 3, 4}
set2 = {4, 5, 6}
set1.isdisjoint(set2)

False

19. Find the symmetric difference between two sets.

In [2]:
set1 = {1, 2, 3, 4}
set2 = {4, 5, 6}
set3 = set1 - set2
print (set3)

{1, 2, 3}

20. Update a set with elements from another set.

In [5]:
set1 = {1, 2, 3, 4}
set2 = {4, 5, 6}
set1.update(set2)
print (set1)

{1, 2, 3, 4, 5, 6}

21. Create a set of the first 5 prime numbers.

In [6]:
set (range(1,6,2))

{1, 3, 5}

22. Check if two sets are identical.

In [23]:
s1 = {1, 2, 3, 4}
s2 = {1, 2, 3, 4}

if s1 == s2:
    print (True)
else:
    print (False)

True

23. Create a frozen set.

In [27]:
prime_numbers = frozenset(range(1,11,2))
print (prime_numbers)

frozenset({1, 3, 5, 7, 9})

24. Check if a set is disjoint with another set.

In [29]:
s1 = {1, 2, 3, 4}
s2 = {5, 6, 7, 8}
if s1 == s2:
    print ('s1 and s2 both are not disjoint set')
else:
    print ('s1 and s2 both are not disjoint set')

s1 and s2 both are not disjoint set

25. Create a set of squares of numbers from 1 to 5.

In [34]:
s1 = set ( i**2 for i in range (1,6))
print (s1)

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [43]:
s1 = set(range(1, 20))
s2 = {i for i in s1 if i % 2 == 0}
print(s2)

{2, 4, 6, 8, 10, 12, 14, 16, 18}

27. Multiply all elements in a set by 2.

In [46]:
s1 = set(range(1, 20))
s1 = set (i*2 for i in s1)
print (s1)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38}

28. Create a set of random numbers.

In [49]:
import random

random_numbers = random.sample(range(1, 100), 10)

print(set (random_numbers))

{66, 5, 70, 7, 43, 62, 24, 93, 94, 31}

29. Check if a set is empty.

In [51]:
s1 = set(range(1, 20))
empty_set = {}
if s1==empty_set:
    print ('yes the set s1 is empty')
else:
    print ('this set is not empty')

this set is not empty

30. Create a nested set (hint: use frozenset).

In [53]:
prime_numbers = frozenset({
    frozenset({2}),
    frozenset({3}),
    frozenset({5}),
    frozenset({7}),
    frozenset({11})
})

print (prime_numbers )

frozenset({frozenset({3}), frozenset({2}), frozenset({11}), frozenset({5}), frozenset({7})})

31. Remove an element from a set using the discard method.

In [55]:
set = {1, 2, 3, 4, 5}
set.discard(3)
print (set)

{1, 2, 4, 5}

32. Compare two sets.

In [58]:
s1 = {3, 4, 5, 6, 7}
s2 = {8, 9, 10, 11, 12}
if s1 == s2:
    print ('both the sets are equal')
else:
    s1 =! s2:
    print ('both the sets are not equal')

both the sets are not equal

33. Create a set from a string.

In [1]:
string_name = 'my name is giriraj gupta'
l1 = string_name.split()
l2 = set(l1)
print (l2)

{'gupta', 'name', 'my', 'giriraj', 'is'}

34. Convert a set of strings to a set of integers.

In [7]:
s1 = {"1", "2", "3", "4", "5"}
s2 = set(int(i) for i in s1)
print (s2)

{1, 2, 3, 4, 5}

35. Convert a set of integers to a set of strings.

In [8]:
s1 = {1, 2, 3, 4, 5}
s2 = set(str(i) for i in s1)
print (s2)

{'2', '1', '4', '3', '5'}

36. Create a set from a tuple.

In [1]:
t1 = (1, 2, 3, 4, 5)
s1 = set (t1)
print (s1)

{1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [1]:
s1 = {1, 2, 3, 4, 5}
t1 = tuple (s1)
print (t1)

(1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [6]:
s1 = {45, 67, 98, 34, 10}
s1 = list(s1)
s1.sort()
print(s1[-1])

98

39. Find the minimum value in a set.

In [13]:
s1 = {45, 67, 98, 34, 10}
s1 = list(s1)
s1.sort()
print(s1[0])

10

40. Create a set from user input.

In [3]:
my_set = set()
for i in range(int(input("Enter number of elements: "))):
  my_set.add(int(input("Enter element: ")))

print(my_set)

Enter number of elements:  4
Enter element:  1234
Enter element:  1234
Enter element:  1234
Enter element:  1234

{1234}

41. Check if the intersection of two sets is empty

In [4]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
set3 = set1.intersection(set2)
if len(set3) == 0:
    print('Intersection of two sets is empty')
else:
    print('Intersection of two sets is not empty')

Intersection of two sets is not empty

 42. Create a set of the first 5 Fibonacci numbers.

In [6]:
fib = [0, 1]
for i in range(2, 6):
  fib.append(fib[i - 1] + fib[i - 2])
fib_set = set(fib)
print(fib_set)

{0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [7]:
l1 = [1, 2, 3, 4, 5, 1, 2, 3]
l2 = set(l1)
print(l2)

{1, 2, 3, 4, 5}

 44. Check if two sets have the same elements, regardless of their count

In [9]:
t1 = {1, 2, 3}
t2 = {3, 2, 1}

set(t1) == set(t2)

True

45. Create a set of the first `n` powers of 2.

In [17]:
set([2**i for i in range(6)])

{1, 2, 4, 8, 16, 32}

 46. Find the common elements between a set and a list.

In [23]:
set1 = {1 , 2, 3, 4, 5, 6}
list1 = [1, 3, 5, 7, 9]
t1 = set (list1)
t1.intersection(set1)

{1, 3, 5}

 47. Create a set of the first `n` triangular numbers

In [25]:
set([sum(range(i + 1)) for i in range(10)])

{0, 1, 3, 6, 10, 15, 21, 28, 36, 45}

 48. Check if a set contains another set as a subset.

In [26]:
set1 = {1, 2, 3, 4, 5, 6, 7}
set2 = {4, 5, 6, 7, 8, 9}
set1.issubset(set2)

False

 49. Create a set of alternating 1s and 0s of length `n`

In [ ]:
pip install itertools

In [ ]:
import itertools

In [ ]:
import itertools
s1 = set (itertools.cycle([0, 1]))[:10]

In [ ]:
print (s1)

 50. Merge multiple sets into one.

In [ ]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
set3 = {7, 8, 9}

merged_set = collections.ChainMap(set1, set2, set3)

In [ ]:
print (merged_set)